@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 97%;
    --foreground: 0 0% 40%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 40%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 40%;

    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 145 65% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 97%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 97%;
    --accent-foreground: 0 0% 40%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 204 70% 53%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 95%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 95%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 95%;

    --primary: 204 70% 53%;
    --primary-foreground: 0 0% 100%;

    --secondary: 145 65% 49%;
    --secondary-foreground: 0 0% 100%;

    --muted: 223 47% 11%;
    --muted-foreground: 0 0% 64%;

    --accent: 223 47% 11%;
    --accent-foreground: 0 0% 95%;

    --destructive: 6 78% 57%;
    --destructive-foreground: 0 0% 95%;

    --border: 223 47% 11%;
    --input: 223 47% 11%;
    --ring: 204 70% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}